html {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 25px;
}

li > a {
  text-decoration: none;
  text-align: center;
}
li > a:hover {
  color: rgb(212, 105, 105);
}
li {
  font-size: 1.5rem;
  list-style-image: url(/img/data-management.svg);
}
